.main__alphabet {
    display: flex;
    width: 32%;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.alphabet-button {
    text-align: center;
    font-size: 20px;
    min-width: 35px;
    height: 35px;
    border: solid, black, 1px;
    border-radius: 5px;
    background-color: #ffedfa;
}

.alphabet-button:hover {
    background-color: #ffcaef;
}

.used-box {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}